<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title})">
    <title>物流管理系统</title>
</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <!--头部导航栏-->
    <div th:replace="fragments :: topMenu"></div>

    <!--侧边导航栏-->
    <div th:if="${session.user.role==1}">
        <div th:replace="fragments :: sideMenu(8)"></div>
    </div>
    <div th:if="${session.user.role==0}">
        <div  th:replace="fragments :: sideMenuAdmin(8)"></div>
    </div>

    <!--中间内容-->
    <div class="layui-body">
        <div class="layui-tab" lay-filter="demo" lay-allowClose="true">
            <!--tab页主体内容区域-->
            <div class="layui-tab-content">
                <div>
                    <h2 class="ui dividing header">用户管理</h2>
                    <table class="ui teal table">
                        <thead>
                        <tr>
                            <th>用户名称</th>
                            <th>用户手机号</th>
                            <th>用户邮箱</th>
                            <th>用户创建时间</th>
                            <th>用户角色</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${userList}">
                            <td th:text="${user.name}">Approved</td>
                            <td th:text="${user.phone}">12</td>
                            <td th:text="${user.email}">普通快递</td>
                            <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}">2021-05-04 17:41</td>
                            <td th:if="${user.role==0}" style="color: red">管理员</td>
                            <td th:if="${user.role==1}">普通用户</td>
                            <td th:if="${user.role==0}">
                                <a th:href="@{/adminUserTo1/{id}(id=${user.id})}">
                                    <button class="ui red button to1">设为普通用户</button>
                                </a>
                            </td>
                            <td th:if="${user.role==1}">
                                <a th:href="@{/adminUserTo0/{id}(id=${user.id})}">
                                    <button class="ui teal button to0">设为管理员</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="7">
                                <div class="ui mini pagination menu">
                                    <div class="item"><a
                                            th:href="@{/toAdminUser(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                                    </div>
                                    <div class="item"><a
                                            th:href="@{/toAdminUser(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="ui segment m-inline-block">
                        <p>当前第<span th:text="${pageInfo.pageNum}">1</span>页，总<span
                                th:text="${pageInfo.pages}">20</span>页，共<span
                                th:text="${pageInfo.total}">321</span>条记录</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--底部-->
    <div th:replace="fragments :: footer"></div>
</div>
</body>

<!--导入的script-->
<th:block th:replace="fragments :: script">
</th:block>
<!--下拉菜单-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('select.dropdown')
        .dropdown()
    ;
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".to0").click(function () {
            if (confirm("确定将此用户设为管理员吗")) {
                return true;
            }
            return false;
        });
    });
    $(document).ready(function () {
        $(".to1").click(function () {
            if (confirm("确定取消此用户管理员身份吗")) {
                return true;
            }
            return false;
        });
    });
</script>
</html>